html {
  scroll-behavior: smooth;
}

body {
	color: #737373;
	font: 200 100% 'Lato', sans-serif;
	font-size: 3.1vh;
	letter-spacing: 0.1vh;
	background: rgb(141,134,224);
	background: radial-gradient(circle, rgba(141,134,224,1) 8%, rgba(184,178,250,1) 77%);
}

h1 {
	color: #000;
	font-family:'Lato', sans-serif;
	font-weight: 900;
	font-size: 5.5vh;
	letter-spacing: 0.1em;
  padding-top: 12vh;
}

h3 {
	color: #fff;
	font-family:'Lato', sans-serif;
	font-weight: 100;
	font-size: 2.4vh;
	letter-spacing: 0.6vh;
	margin-top: -2.5vh;
	margin-bottom: 2vh;
  font-style: italic;

}

.iconPic {
	height: 55vh;
	display: inline-block;
  float: left;
  padding-top: 1vh;
  padding-left: 10vh;

}
