html {
  scroll-behavior: smooth;
}

body {
	color: #737373;
	font: 200 100% 'Lato', sans-serif;
	font-size: 3.1vh;
	letter-spacing: 0.1vh;
	background: rgb(141,134,224);
	background: radial-gradient(circle, rgba(141,134,224,1) 8%, rgba(184,178,250,1) 77%);
}

h1 {
	color: #545454;
	font-family:'Lato', sans-serif;
	font-weight: 900px;
	font-size: 5.5vh;
	letter-spacing: 0.1em;
}

h3 {
	color: #fff;
	font-family:'Lato', sans-serif;
	font-weight: 100;
	font-size: 2.5vh;
	letter-spacing: 0.3vh;
	margin-top: 0px;
	margin-bottom: 2vh;
}

.iconPic {
	height: 55vh;
	display: inline-block;
  float: left;

}
