body {
	color: #737373;
	font: 200 100% 'Lato', sans-serif;
	font-size: 3.1vh;
	letter-spacing: 0.1vh;
	background: rgb(141,134,224);
	background: radial-gradient(circle, rgba(141,134,224,1) 8%, rgba(184,178,250,1) 77%);
}

html {
  scroll-behavior: smooth;
}

h1 {
	color: #fff;
	font-family:'Lato', sans-serif;
	font-weight: 300;
	line-height: 1.2;
	font-size: 5vh;
	letter-spacing: 0.6vh;
	margin-top: 0.5vh;
}

h2 {
	color: #545454;
	font-family:'Lato', sans-serif;
	font-weight: 900px;
	font-size: 5.5vh;
	letter-spacing: 0.1em;
}

h3 {
	color: #fff;
	font-family:'Lato', sans-serif;
	font-weight: 100;
	font-size: 2.5vh;
	letter-spacing: 0.3vh;
	margin-top: 0px;
	margin-bottom: 2vh;
}

.titles {
	padding-top: 10vh;
	padding-bottom: ;
	text-align: center;
}

.background2 {
	margin-top: 24vh;
	background-color: #fff;
}

.parastyle {
	margin-top: -20px;
	font-size: 1.4em;  /* 110% of default font size */
	padding: 0;
	line-height: 2;
	font-family:'Lato', sans-serif;	/* http://cssfontstack.com/ */
	text-align: center;
}

.parasub {
	font-size: 40px;
	text-align: center;
	font-weight: 400;
}

a.indexLinks {
	text-decoration: none;
	color: #333;
	font-family:'Raleway', sans-serif;
}

a.indexLinks:hover {
	color:#5DA9E9;
}
* {
  box-sizing: border-box;
}

.container {
  width: 50%;
  margin: 0 auto;
	margin-top: -3vh;
}

ul li {
  display: inline;
  text-align: center;
	font-size: 2vh;
	letter-spacing: 0.1vh;
	font-weight: 100;

}

a.linkText {
  display: inline-block;
  width: 25%;
  padding: 2vh 0;
  margin: 0;
  text-decoration: none;
  color: #fff;
}

.two:hover ~ hr {
  margin-left: 25%;
}

.three:hover ~ hr {
  margin-left: 50%;
}

.four:hover ~ hr {
  margin-left: 75%;
}

hr {
  height: 0.5vh;
  width: 25%;
  margin: 0;
  background: white;
  border: none;
  transition: .3s ease-in-out;
}

.linkText {
	color: #fff;
}

.iconPic {
	height: 55vh;
	display: block;
	margin-top: 0vh;
	margin-bottom: -8vh;
	margin-left: auto;
  margin-right: auto;
}

.info {
	font-family:'Lato', sans-serif;
	font-size: 20px;
	color: #eee;
	padding: 150px 110px 0px 110px;
	margin-bottom: -50px;
}

.intro {
	padding: 8vh 0 0 15vh;
	display:inline-block;
}

.imagebox1 {
	width: 40%;
	float:right;
}

.image1 {
	height: 55vh;
	margin-left: -30vh;
	padding-left: 13vh;
}

.imagebox2 {
	padding-top: 3vh;
	width: 40%;
	float:left;
	text-align: center;
}

.image2 {
	height: 81vh;
	margin-left: -15vh;
	margin-top: 5vh;
}

.text1 {
	width: 46%;
	float: left;
	line-height: 5.5vh;
}

.text2 {
	width: 46%;
	float: right;
	line-height: 5.5vh;
	padding: 17vh 15vh 0 4vh;
}

.profile {
	display:inline-block;
}


html body [data-ca3_iconfont="ETmodules"]::before {
    font-family: "ETmodules";
}
[data-ca3_icon]::before {
    font-weight: normal;
    content: attr(data-ca3_icon);
}

.ca3-scroll-down-arrow {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
	background-size: contain;
	background-repeat: no-repeat;
	padding-top: 1vh;
	padding-bottom: 5vh;
}

.ca3-scroll-down-link {
  cursor:pointer;
	height: 8vh;
	width: 10vh;
	margin: 0px 0 0 -40px;
	line-height: 60px;
	position: absolute;
	left: 50%;
	bottom: 0px;
	color: #FFF;
	text-align: center;
	font-size: 70px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);

	-webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
	-moz-animation:    ca3_fade_move_down 2s ease-in-out infinite;
	animation:         ca3_fade_move_down 2s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
  0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,20px); opacity: 0; }
}
@-moz-keyframes ca3_fade_move_down {
  0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,20px); opacity: 0; }
}
@keyframes ca3_fade_move_down {
  0%   { transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,20px); opacity: 0; }
}
